<html>
    <title>Add Product</title>
    <h1>Add New Product</h1>

    <label>Name</label>
    <input type="text" name="name" placeholder="Enter Product Name"><br>
    <label>Category</label>
    <input type="text" name="category" placeholder="Enter Category "><br>
    <label>Description</label>
    <input type="text" name="description" placeholder="Enter Description "><br>
    <label>Price</label>
    <input type="number" name="price" placeholder="Enter Price"><br><br>


    <input type="button" value="Submit">
</html>