<html>
    <title>Login User</title>

    <h1>Login User</h1>

    <label>E-Mail</label>
    <input type="email" name="email" placeholder="Enter Your Valid Email"><br>
    <label>Password</label>
    <input type="password" name="password" placeholder="****************"><br>
<br>
    <input type="button" value="Login">

</html>